{% extends 'base.html.twig' %}
{% block title %} Detalle {{mascota.nombre}} {% endblock %}
{% block stylesheets %} 
<link rel="stylesheet" href="{{ asset('css/frontEndGlobal.css') }}"/>
{% endblock %}
{% block main %}
    <main>
        <div class="container">
        <section >
            <div class="row py-3">
              <img src="{{ asset('imagenes/mascotas/') ~ mascota.foto }}" class="col-md-7 col-sm-12 mb-3" style="height: 365px;" />
              <div class="col-md-5 col-sm-12"><!-- Datos principales -->
                <div class="caja"  style="height: 365px;">
                  <div class="cabecera_caja">
                    <h3 class="pl-2"><b>Datos de la mascota</b></h3>
                </div>
                <div class="pl-2">
                    <p><b>Nombre:</b> {{mascota.nombre}}</p>
                    <p><b>Localidad:</b> {{mascota.usuario.poblacion}}</p>
                    <p><b>Propietario:</b> {{mascota.usuario.nombre}}</p>
                    <p><b>Contacto:</b> {{mascota.usuario.email}}</p>
                    {% if mascota.vacunado == true %}
                    <p><b>Vacunado:<span class=" si "> Sí</span></b></p>
                    {% else %}
                    <p><b>Vacunado:<span class=" no "> No</span></b></p>
                    {% endif %}

                    {% if mascota.desparasitado == true %}
                    <p><b>Desparasitado:<span class=" si "> Sí</span></b></p>
                    {% else %}
                    <p><b>Desparasitado:<span class=" no "> No</span></b> </p>
                    {% endif %}

                    {% if mascota.esterilizado == true %}
                    <p><b>Esterilizado:<span class=" si "> Sí</span></b> </p>
                    {% else %}
                    <p><b>Esterilizado:<span class=" no "> No</span></b> </p>
                    {% endif %}
                    
                    {% if mascota.microchip == true %}
                    <p><b>Microchip:<span class=" si "> Sí</span></b> </p>
                    {% else %}
                    <p><b>Microchip:<span class=" no "> No</span></b> </p>
                    {% endif %}
                </div>
              </div>
            </div><!-- Fin datos principales -->
            <div class="col-12 mt-3"><!-- Descripción -->
              <div class="caja">
                <div class="cabecera_caja px-2">
                    <h3 >Descripción</h3>
                </div>
                <div class="p-2">
                {{mascota.descripcion| raw}}
                </div>
              </div>
            </div>
            <div class="col-12 mt-3"><!-- Requisitos -->
              <div class="caja">
                <div class="cabecera_caja px-2">
                    <h3 >Requisitos</h3>
                </div>
                <div class="p-2">
                {{mascota.requisitos| raw}}
                </div>
              </div>
            </div>
        </div>
        </section>
    </div>
    </main>
{% endblock %}
{% block footer %}
      <footer class=" py-1">
        <div class="d-flex flex-wrap justify-content-around">
          <div class="p-2 footer_tamanyo_minimo">
            <h3>Contacta con nosotros</h3>
            <h6>Avenida de Altea, 2</h6>
            <h6>03530 La Nucía</h6>
            <h6>Email: joseluis@huellasypies.daw</h6>
          </div>
          <div class="p-2 footer_tamanyo_minimo">
            <h3>Mapa del sitio</h3>
            <h6><a href="{{path('inicio')}}">Inicio</a></h6>
            <h6><a href="{{path('pagina_mascotas')}}">Mascotas</a></h6>
            <h6><a href="{{path('pagina_noticias')}}">Noticias</a></h6>
          </div>
          <div class="p-2 footer_tamanyo_minimo">
            <h3>Síguenos en las RRSS</h3>
            <div class="row justify-content-center">
              <img class=" col-4 img-fluid footer_iconos" src="{{ asset('imagenes/web/facebook.png') }}" />
              <img class=" col-4 img-fluid footer_iconos" src="{{ asset('imagenes/web/instagram.png') }}" />
              <img class=" col-4 img-fluid footer_iconos" src="{{ asset('imagenes/web/twitter.png') }}" />
            </div>
          </div>
        </div>
      </footer>
{% endblock %} 