{% extends 'base.html.twig' %}
{% block stylesheets %} 
  <link rel="stylesheet" href="{{ asset('css/frontEndGlobal.css') }}"/>
{% endblock %}
{% block main %}
      <main >
        <div class="container"><!-- Inicio del contenedor de la web-->
          <!-- Imagen superior -->
          <div class="row">
            <img class="w-100 img-fluid imagen_inicio" src="{{ asset('imagenes/web/hada2.jpg') }}" alt="inicio" />
          </div>
          <!-- Quote -->
          <div class="row">
            <blockquote class="d-flex justify-content-center align-items-center w-100 mb-0 cita_inicio" >
              <div class="p-3">
                <h6 class="text-md-left text-center">Hasta que no hayas amado a un animal una parte de tu alma permanecerá dormida</h6>
                <p class="text-md-right text-center"> Anatole France - Escritor francés</p>
              </div>
            </blockquote>
          </div>
          <!-- Sección con las nuevas mascotas -->
          <section class="row my-2">
            <div class="col-12 pb-3">
              <h1 class="pb-4">Nuevas mascotas</h1>
              <div class="row d-flex justify-content-around">
                {% if mascotas != null %}
                {% for item in mascotas %}
                  <div class="inicio_carta mb-3">
                  <a href="{{path('detalle_mascota',{'id' : item.id })}}">
                    <img class="card-img-top altura_carta" src="{{ asset('imagenes/mascotas/' ~ item.foto) }}" alt="{{item.nombre}}">

                      </a>

                  </div>
                {% endfor %}
                {% else %}
                  <p>No hay mascotas para ser adoptadas</p>
                {% endif %}
              </div>
            </div>
          </section>
          <!-- Sección con la mision de la página web -->
          <section class="row">
            <div class="col-lg-6 col-sm-12 p-0">
              <img src="{{ asset('imagenes/web/inicio.jpg') }}" class="img-fluid w-100" />
            </div>
            <div class="col-lg-6 col-sm-12 d-flex align-items-center mision">
              <div class="align-items-center">
                <h2 class="inicio_titulos">Misión</h2>
                <p class="inicio_texto">
                  Desde huellas y pies creemos que la mejor compañía que existe es la de un animal. Por ello hemos creado este sitio para que los animales de las protectoras tengan más visibilidad y que
                  los animales que los particulares ya no pueden cuidar encuentren un nuevo hogar y hagan felices a sus nuevos dueños.
                </p>
              </div>
            </div>
          </section>
        <!-- Seccíón que contiene las noticias -->
          <section class="row pt-3">
            <div class="col-12">
              <h1 class="pb-4">Últimas noticias</h1>
                {% if noticias != null %}
                <div class ="row">
                {% for item in noticias %}
                <a href="{{path('detalle_noticia',{'id' : item.id })}}"> 
                  <article class="col-lg-6 col-md-6 col-sm-12 pb-2">
                  <img class="img-fluid" src="{{ asset('imagenes/noticias/') ~ item.foto }}" style="max-height: 275px; width: 100%;" />
                  <h2 class="text-center inicio_titulos">{{ item.titulo }}</h2>
                  <p class="text-center inicio_texto">publicada por {{item.autor.nombre}} el {{ item.publicada|date("d/m/Y") }}</p>
                  <p class="inicio_resumen">{{item.resumen | raw}} <span class="leer_mas">Leer más &gt;&gt;</span></p></a>          
                </article>
                {% endfor %}
                {% else %}
                  <div class ="row justify-content-center">
                  <p class="text-center">Todavía no se ha creado ninguna noticia</p>
                {% endif %}
              </div>
            </div>
          </section>

        </div><!-- Fin del contenedor de la web-->
      </main>
{% endblock %}
{% block footer %}
      <footer class=" py-1">
        <div class="d-flex flex-wrap justify-content-around">
          <div class="p-2 footer_tamanyo_minimo">
            <h3>Contacta con nosotros</h3>
            <h6>Avenida de Altea, 2</h6>
            <h6>03530 La Nucía</h6>
            <h6>Email: joseluis@huellasypies.daw</h6>
          </div>
          <div class="p-2 footer_tamanyo_minimo">
            <h3>Mapa del sitio</h3>
            <h6><a href="{{path('inicio')}}">Inicio</a></h6>
            <h6><a href="{{path('pagina_mascotas')}}">Mascotas</a></h6>
            <h6><a href="{{path('pagina_noticias')}}">Noticias</a></h6>
          </div>
          <div class="p-2 footer_tamanyo_minimo">
            <h3>Síguenos en las RRSS</h3>
            <div class="row justify-content-center">
              <img class=" col-4 img-fluid footer_iconos" src="{{ asset('imagenes/web/facebook.png') }}" />
              <img class=" col-4 img-fluid footer_iconos" src="{{ asset('imagenes/web/instagram.png') }}" />
              <img class=" col-4 img-fluid footer_iconos" src="{{ asset('imagenes/web/twitter.png') }}" />
            </div>
          </div>
        </div>
      </footer>
{% endblock %} 