{% extends 'panel_control.html.twig' %}
{% block title %} Lista mascotas {% endblock %}
{% block javascripts %}
{% endblock %}
{% block main %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row text-center align-content-center acciones" style="min-height: 50px;">
                        <div>
                            <a href="{{path('crear_mascota')}}" class=" col-md-3 col-sm-3 iconos_panel">
                            <i class="fas fa-plus iconos_lista"></i><span class="ml-2">Nueva<span></a>
                        </div>
                        {% if is_granted('ROLE_PROTECTORA') %}
                        <div>
                            <a href="{{path('lista_aprobar')}}" class=" col-md-3 col-sm-3 iconos_panel">
                            <i class="fas fa-check iconos_lista"></i><span class="ml-2">Pendiente aprobar<span class="ml-2">{% if pendientes|length > 0 %}<span class="pdte_aprobar">{{pendientes|length}}</span>{% endif %}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% if mascotas != null %}
                <table class="table col-12">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  
                    {% for item in mascotas %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.nombre }}</td>
                        {% if item.aprobada == true %}
                            {% if item.estado == "Disponible" %}
                            <td class="disponible">
                            {% elseif item.estado == "Urgente" %}
                            <td class="urgente">
                            {% elseif item.estado == "Tramitando" %}
                            <td class="tramitando">
                            {% else %}
                            <td class="adoptada">
                            {% endif %}
                            {{item.estado}}
                        {% else %}
                            {% if item.rechazada == false %}
                                <td class="pendiente"> Pendiente
                            {% else %}
                                <td class="pendiente"> Rechazada
                            {% endif %}
                        {% endif %}
                        </td>
                        <td><a href="{{path('editar_mascota',{'id' : item.id})}}"><i class="far fa-edit editar"></i></a></td>
                    </tr>
                    {% endfor %}
                  
                </tbody>
              </table>
              {% else %}
              <p class="text-center m-auto"> Todavía no has creado ninguna mascota</p>
              {% endif %}
            </div>
        </div><!-- Fin del contenedor-->
    </div>
</main>
{% endblock %}