{% extends 'base.html.twig' %}
{% block title %} Panel de control {% endblock %}
{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('css/panel_control.css') }}"/>
{% endblock %}  
{% block javascript %}
    <script type = "text/javascript" src="{{ asset('js/funciones.js') }}"></script> 
{% endblock %}
{% block panel %}
        <div class="container">
            <div class="row cabecera_panel">
                <div class="col-12">
                    <div class="row text-center align-content-center" style="min-height: 50px;">
                        <div>
                        {% if app.request.attributes.get('_route') == 'editar_usuario' %}
                            <a href="{{path('editar_usuario',{'id' : app.user.id })}}" class=" col-md-3 col-sm-3 iconos_panel activo">
                        {% else %}    
                            <a href="{{path('editar_usuario',{'id' : app.user.id })}}" class=" col-md-3 col-sm-3 iconos_panel">
                        {% endif %}
                            <i class="fas fa-user-edit"><span class="ml-2">Perfil<span></i></a>
                        </div>
                        <div>
                        {% if app.request.attributes.get('_route') == 'mascotas_usuario'
                        or (app.request.attributes.get('_route') == 'crear_mascota')
                        or (app.request.attributes.get('_route') == 'editar_mascota')
                        or (app.request.attributes.get('_route') == 'lista_aprobar')
                        or (app.request.attributes.get('_route') == 'aprobar_mascota')
                        or (app.request.attributes.get('_route') == 'rechazar_mascota')   
                        or (app.request.attributes.get('_route') == 'pagina_rechazar')  
                        %}
                            <a href="{{path('mascotas_usuario')}}" class=" col-md-3 col-sm-3 iconos_panel activo">
                        {% else %}
                        <a href="{{path('mascotas_usuario')}}" class=" col-md-3 col-sm-3 iconos_panel">
                        {% endif %}  
                            <i class="fas fa-paw"><span class="ml-2">Mascotas<span></i></a>
                        </div>
                        {% if is_granted('ROLE_PROTECTORA') %}
                        <div>
                        {% if app.request.attributes.get('_route') == 'noticias_usuario'
                        or (app.request.attributes.get('_route') == 'crear_noticia')
                        or (app.request.attributes.get('_route') == 'editar_noticia') 
                        %}
                            <a href="{{path('noticias_usuario')}}" class=" col-md-3 col-sm-3 iconos_panel activo">
                        {% else %}
                            <a href="{{path('noticias_usuario')}}" class=" col-md-3 col-sm-3 iconos_panel">
                        {% endif %}
                            <i class="far fa-newspaper"><span class="ml-2">Noticias<span></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><!-- Fin del contenedor-->
        <!-- Mensajes -->
            {% for message in app.flashes('success') %}
            <div class="flash_exito dialogo cerrar_msg">
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
            <div class="flash_error dialogo cerrar_msg">
                {{ message }}
            </div>
            {% endfor %}
{% endblock %}