{% extends 'panel_control.html.twig' %}
{% block title %} Editar usuario {% endblock %}
{% block main %}
    {% form_theme formularioPasado 'bootstrap_4_layout.html.twig' %}
    <div class="container formulario">
        <div class="d-flex flex-wrap flex-column align-content-center">
        <h2 class="text-center">Editar perfil</h2>
            {{ form_start(formularioPasado) }}
                    <div class="row px-5">
                        <div class="col-12">
                            {{ form_row(formularioPasado.nombre) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(formularioPasado.poblacion) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(formularioPasado.provincia) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(formularioPasado.email) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(formularioPasado.telefono) }}
                        </div>
                        <div id="input_direccion" class="col-12">
                            {{ form_row(formularioPasado.direccion) }}
                        </div>
                        <div class="col-12 text-center">
                            {{ form_row(formularioPasado.save, {'attr': {'class': 'btn_guardar'}}) }}
                        </div>
                    </div>
            {{ form_end(formularioPasado) }}
            </div>
    </div>
{% endblock %}
